TIMEZONE=Asia/Dhaka

NOTIFY_UNTILL=2025-12-11 00:00:00

NOTIFY_INTERVAL=1200

RECIPIENTS_FILE=/recipients.json

MAIL_HOST=smtp.gmail.com

MAIL_USERNAME=username@gmail.com

MAIL_PASSWORD=

MAIL_FROM=

TELEGRAM_BOT_API=

